body {
    background-color: #FCFEFC;
}

h1 {
    color: #000;
    text-align: center;
}

#content {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

#errorcode{
    position: absolute;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
}

#schelden {
    position: absolute;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    right: 0;
}
